# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Hugging Face / model cache
.cache/
cache/
hf_cache/

# Local runtime data
data/input/*
data/output/*
!data/input/.gitkeep
!data/output/.gitkeep

# Logs
*.log
